.header {

    color: #fff;
    text-align: center;
    background-color: #060042;

    width: 100vw;
    height: auto;
    margin-bottom: 2rem;

    h2 {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}