.sidebarR {
  margin-top: 0.5rem;
  //border: black solid .14rem;
  width: 17.2%;
  position: absolute;
  top: 1;
  right: 0;
  color: #ffffff;
  height: auto;

  background-image: linear-gradient(
    120deg,
    #3c7da4,
    #559bd9,
    #5faad9,
    #94cef2,
    #f0f0f1
  );

  border-radius: 0.3rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#city {
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
}

#temp {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 100;
  line-height: 1.3;
}

#feel {
  margin: 0;
  font-size: 1rem;
}

#other {
  display: flex;
}

#humid,
#pressure {
  margin: 0;
  line-height: 1.2;
}

@media only screen and (max-width: 998px) {
  .sidebarR {
    display: none;
  }
}
